<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- add to document <head> -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style>
        .filepond--item{
            width: 140px;
            height: 200px;
        }
    </style>



    <!-- add before </body> -->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>



    <!-- VANILLA JAVASCRIPT -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            FilePond.registerPlugin(
                FilePondPluginImagePreview,
                FilePondPluginImageResize,
                FilePondPluginFileEncode
            );
            // https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-options
            FilePond.setOptions({
                stylePanelAspectRatio: 150 / 100,
                imageResizeTargetWidth: 100,
                imageResizeTargetHeight: 150,
            })
            FilePond.parse(document.body);
        });

    </script>
</head>

<body>
    <%- include('menu') %>
    <br>
    <br>
    <br>
    <%- body %>
</body>

</html>